{
  "openapi" : "3.0.0",
  "servers" : [ {
    "url" : "https://api.globalcv.io/v1",
    "description" : "globalcv API endpoint."
  }, {
    "description" : "SwaggerHub API Auto Mocking",
    "url" : "https://virtserver.swaggerhub.com/ciehanski/globalcv/v1"
  } ],
  "info" : {
    "description" : "We make resumes easy.",
    "version" : "v1",
    "title" : "globalcv API",
    "contact" : {
      "email" : "ryan@ciehanski.com",
      "name" : "Ryan Ciehanski",
      "url" : "https://www.ciehanski.com"
    },
    "license" : {
      "name" : "GNU Affero General Public License v3.0",
      "url" : "https://github.com/globalcv/backend/blob/master/LICENSE"
    }
  },
  "tags" : [ {
    "name" : "users",
    "description" : "Operations available to globalcv users."
  }, {
    "name" : "developers",
    "description" : "Operations available to globalcv developers."
  } ],
  "paths" : {
    "/users" : {
      "get" : {
        "tags" : [ "developers" ],
        "summary" : "retrieve all users",
        "operationId" : "listUsers",
        "description" : "Returns all globalcv users.",
        "responses" : {
          "200" : {
            "description" : "all globalcv users",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/User"
                  }
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServer"
          }
        }
      },
      "post" : {
        "tags" : [ "developers", "users" ],
        "summary" : "create a user",
        "operationId" : "createUser",
        "description" : "Creates a new globalcv user.",
        "parameters" : [ {
          "in" : "path",
          "name" : "email",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "email"
          }
        }, {
          "in" : "path",
          "name" : "password",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "password"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "user successfully created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/User"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServer"
          }
        }
      }
    },
    "/users/{id}" : {
      "get" : {
        "tags" : [ "developers", "users" ],
        "summary" : "retrieve a user",
        "operationId" : "getUserByID",
        "description" : "Retrieves a globalcv user.",
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "minimum" : 1
          },
          "description" : "The user ID"
        } ],
        "responses" : {
          "200" : {
            "description" : "returns the requested user",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/User"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServer"
          }
        }
      },
      "patch" : {
        "tags" : [ "developers", "users" ],
        "summary" : "update a user's settings",
        "operationId" : "updateUser",
        "description" : "Updates a globalcv user's settings.",
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "minimum" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "returns the updated user",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/User"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServer"
          }
        }
      },
      "delete" : {
        "tags" : [ "developers", "users" ],
        "summary" : "delete a user",
        "operationId" : "deleteUser",
        "description" : "Deletes a globalcv user.",
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "minimum" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "user successfully deleted"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServer"
          }
        }
      }
    },
    "/users/login" : {
      "post" : {
        "tags" : [ "developers", "users" ],
        "summary" : "log in a user",
        "operationId" : "loginUser",
        "description" : "Logs in a globalcv user.",
        "parameters" : [ {
          "in" : "path",
          "name" : "email",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "email"
          }
        }, {
          "in" : "path",
          "name" : "password",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "password"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "returns the logged in user",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/User"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServer"
          }
        }
      }
    },
    "/users/logout" : {
      "post" : {
        "tags" : [ "developers", "users" ],
        "summary" : "log out current user",
        "operationId" : "logoutUser",
        "description" : "Logs out the currently signed in globalcv user.\n",
        "responses" : {
          "200" : {
            "description" : "user successfully logged out"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServer"
          }
        }
      }
    },
    "/users/whoami" : {
      "get" : {
        "tags" : [ "developers", "users" ],
        "summary" : "get logged in user & refresh tokens",
        "operationId" : "whoami",
        "description" : "Returns the currently logged in globalcv user from cookies and refreshes their tokens. To be called on a new session or before current session is about to expire.",
        "responses" : {
          "200" : {
            "description" : "user successfully logged out"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServer"
          }
        }
      }
    },
    "/resumes" : {
      "get" : {
        "tags" : [ "developers" ],
        "summary" : "retrieve all resumes",
        "operationId" : "listResumes",
        "description" : "Retrieves all globalcv resumes.",
        "responses" : {
          "200" : {
            "description" : "returns all resumes",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Resume"
                  }
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServer"
          }
        }
      },
      "post" : {
        "tags" : [ "developers", "users" ],
        "summary" : "create a resume",
        "operationId" : "createResume",
        "description" : "Creates a resume for a globalcv user.",
        "parameters" : [ {
          "in" : "path",
          "name" : "user",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "example" : 3,
            "minimum" : 1
          }
        }, {
          "in" : "path",
          "name" : "file",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "url",
            "example" : "https://s3.aws.com/avatar.png"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "resume successfully created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Resume"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServer"
          }
        }
      }
    },
    "/resumes/{id}" : {
      "get" : {
        "tags" : [ "developers", "users" ],
        "summary" : "retrieve a resume",
        "operationId" : "getResume",
        "description" : "Retrieves a globalcv resume.",
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "example" : 3,
            "minimum" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "returns the requested resume",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/User"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServer"
          }
        }
      },
      "patch" : {
        "tags" : [ "developers", "users" ],
        "summary" : "update resume settings",
        "operationId" : "updateResume",
        "description" : "Updates a resumes settings.",
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "example" : 3,
            "minimum" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "returns updated resume",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Resume"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServer"
          }
        }
      },
      "delete" : {
        "tags" : [ "developers", "users" ],
        "summary" : "delete a resume",
        "operationId" : "deleteResume",
        "description" : "Deletes a globalcv resume.",
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "example" : 3,
            "minimum" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "resume successfully deleted"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServer"
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Resume" : {
        "type" : "object",
        "required" : [ "file", "user" ],
        "properties" : {
          "id" : {
            "type" : "string",
            "example" : "ID of resume"
          },
          "file" : {
            "type" : "string",
            "format" : "url",
            "example" : "https://s3.aws.com/avatar.png"
          },
          "timesapplied" : {
            "type" : "integer",
            "example" : 5
          },
          "timesviewed" : {
            "type" : "integer",
            "example" : 5
          },
          "timesdownloaded" : {
            "type" : "integer",
            "example" : 5
          },
          "user" : {
            "$ref" : "#/components/schemas/User"
          },
          "createdat" : {
            "type" : "string",
            "format" : "date-time",
            "example" : "2020-03-14T01:53:27.41656-05:00"
          },
          "modifiedat" : {
            "type" : "string",
            "format" : "date-time",
            "example" : "2020-03-14T01:53:27.41656-05:00"
          },
          "deletedat" : {
            "type" : "string",
            "format" : "date-time",
            "example" : "2020-03-14T01:53:27.41656-05:00"
          }
        },
        "description" : "globalecv Resume model."
      },
      "User" : {
        "type" : "object",
        "required" : [ "email", "password" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "example" : 1
          },
          "gcvid" : {
            "type" : "string",
            "example" : "r0sU7gBCeIzzujst/zOdq1vdjHCV7v8ZTEHmaqYrIgfYRlT58SwVuIDY6PxbixgfR/dtHCVDCo+a58MaJhgzeQ=="
          },
          "emaillogin" : {
            "type" : "boolean",
            "example" : true
          },
          "githublogin" : {
            "type" : "boolean",
            "example" : false
          },
          "gitlablogin" : {
            "type" : "boolean",
            "example" : false
          },
          "linkedinlogin" : {
            "type" : "boolean",
            "example" : false
          },
          "email" : {
            "type" : "string",
            "format" : "email",
            "example" : "svandy@gmail.com"
          },
          "emailconfirmed" : {
            "type" : "boolean",
            "example" : true
          },
          "password" : {
            "type" : "string",
            "format" : "password",
            "example" : "hunter2"
          },
          "avatar" : {
            "type" : "string",
            "format" : "url",
            "example" : "https://s3.aws.com/avatar.png"
          },
          "gravatarid" : {
            "type" : "string",
            "example" : "205e460b479e2e5b48aec07710c08d50"
          },
          "applicationssent" : {
            "type" : "integer",
            "example" : 5
          },
          "primaryresume" : {
            "$ref" : "#/components/schemas/Resume"
          },
          "allresumes" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Resume"
            }
          },
          "createdat" : {
            "type" : "string",
            "format" : "date-time",
            "example" : "2020-03-14T01:53:27.41656-05:00"
          },
          "modifiedat" : {
            "type" : "string",
            "format" : "date-time",
            "example" : "2020-03-14T01:53:27.41656-05:00"
          },
          "deletedat" : {
            "type" : "string",
            "format" : "date-time",
            "example" : "2020-03-14T01:53:27.41656-05:00"
          }
        },
        "description" : "globacv User model."
      },
      "Error" : {
        "type" : "object",
        "properties" : {
          "status" : {
            "type" : "integer",
            "example" : 200
          },
          "message" : {
            "type" : "string",
            "example" : "user successfully deleted"
          }
        },
        "required" : [ "code", "message" ]
      }
    },
    "responses" : {
      "NotFound" : {
        "description" : "The specified resource was not found",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            }
          }
        }
      },
      "BadRequest" : {
        "description" : "Bad request",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            }
          }
        }
      },
      "InternalServer" : {
        "description" : "Internal server error",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized" : {
        "description" : "Unauthorized",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            }
          }
        }
      }
    }
  }
}